# Python
backend/venv/
__pycache__/
*.pyc

# Environment variables
backend/.env

# VS Code
.vscode/

# React
frontend/node_modules/

# Build files
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db